#root {
    height: 100%;
}

.App {
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.App-header {
    flex: 0 0 auto;
    background-color: #282c34;
    min-height: 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: calc(10px + 2vmin);
    color: white;
    padding: 10px 45px;
    flex-wrap: wrap;
}

.App-header h1 {
    font-size: 22px;
}

.App-main {
    flex: 1 0 auto;
    background-color: #EEEEEE;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: normal;
    font-size: 18px;

}

.container {
    width: 1280px;
    display: flex;
    align-content: center;
    flex-direction: column;
}
.header {
    width: 100%;
    font-size: 28px;
    margin: 50px 0 40px;
}

.App-footer {
    flex: 0 0 auto;
    background-color: #282c34;
    min-height: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 1vmin);
    align-items: center;
    color: #FFF;
}



@media screen and (max-width: 1279px) {
    .container {
        width: 100%;
    }
    .App-header {
        flex: 0 0 auto;
        background-color: #282c34;
        min-height: 4rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-size: calc(10px + 2vmin);
        color: white;
        padding: 10px 45px;
        flex-wrap: wrap;
    }
}

