#root {
    height: 100%;


}

.App {
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.App-header {
    flex: 0 0 auto;
    background-color: #282c34;
    min-height: 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: calc(10px + 2vmin);
    color: white;
    padding: 10px 45px;
    flex-wrap: wrap;
}

.App-main {
    flex: 1 0 auto;
    background-color: #EEEEEE;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: normal;
    font-size: calc(10px + 1vmin);
}

.App-footer {
    flex: 0 0 auto;
    background-color: #282c34;
    height: 110px;
    /*min-height: calc(100vh - 5rem);*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 1vmin);
    align-items: center;
    color: #FFF;
}
