.footer {
    background-color: aquamarine;
    height: 110px;
}
.editor {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
}
.editorInput {
    margin: 10px 5px;
    font-size: 18px;
}
.editorInput:first-child {
    width: 32px;
}